@charset "UTF-8";
body {
  background-color: rgba(241, 176, 192, 0.644);
}

header {
  background-color: rgb(248, 184, 195);
}

.titulo-principal {
  color: rgb(221, 101, 121);
  margin: 10px;
  text-decoration: none;
  font-size: 3rem;
}
.titulo-principal:visited {
  color: rgb(221, 101, 121);
}
.titulo-principal:hover {
  color: rgb(221, 101, 121);
}
.titulo-principal:active {
  color: rgb(221, 101, 121);
}

.nav-item {
  border-radius: 4px 4px 4px 4px;
  margin: 3.5px;
  text-align: center;
  text-decoration-style: solid;
  text-decoration-color: currentColor;
}
.nav-item:hover {
  background-color: rgb(241, 94, 119);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.color-rosa {
  color: rgb(221, 101, 121);
}

.contenedor {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.contenedor .card {
  width: 100%;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 1px 10px rgb(0, 0, 0);
  transition: all 400ms ease;
  text-align: center;
  box-shadow: 10px 10px rgb(241, 177, 188);
}
.contenedor .card img {
  width: 100%;
  height: 210px;
}
.contenedor .card:hover {
  transform: translatey(-3%);
}

.btn {
  display: inline-block;
  padding: 15px;
  margin-bottom: 15px;
  display: inline-block;
  padding: 10px 20px;
  background: rgb(241, 94, 119);
  color: #FFFFFF;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 600;
  border: 1px solid rgb(207, 206, 206);
  box-shadow: 5px 5px rgb(241, 177, 188);
}

.btn-primary:hover {
  color: rgb(241, 94, 119);
  background-color: #FFFFFF;
  border: 1px solid rgb(241, 94, 119);
}

.widget {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  color: #FFFFFF;
  text-shadow: 2px 0px black;
  height: 300px;
  text-align: center;
  font-size: 2rem;
}
.widget a:visited {
  color: #FFFFFF;
}

.widget:hover {
  opacity: 0.9;
  cursor: pointer;
}

.widget-1 {
  background-image: url("../multimedia/img/uñas-cover.jpg");
  background-size: cover;
}

.widget-2 {
  background-image: url("../multimedia/img/cejas-pestañas-cover.jpg");
  background-size: cover;
}

.titulo-secundario {
  background-color: pink;
  padding: 20px;
  text-align: center;
}

.box-servicio {
  background-color: rgba(255, 255, 255, 0.5058823529);
  border-radius: 10px;
}

footer {
  background-color: rgb(248, 184, 195);
}

.link {
  text-decoration: none;
}

.link:visited {
  color: #FFFFFF;
}

.link:hover {
  color: #FFFFFF;
}

.link:active {
  color: #FFFFFF;
}

.horarios {
  background-color: rgba(236, 167, 178, 0.685);
}
.horarios p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.2rem;
}
.horarios .dia {
  text-align: left;
  width: 74%;
}
.horarios .hora {
  text-align: right;
  width: 24%;
}

.servicios p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.2rem;
}
.servicios .servicio {
  text-align: left;
  width: 50%;
}
.servicios .precio {
  text-align: right;
  width: 48%;
}

.info {
  font-size: 1.2rem;
}

.preguntas-frecuentes {
  background-color: rgba(255, 255, 255, 0.4509803922);
}

/*# sourceMappingURL=styles.css.map */
